* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app {
  max-width: 80vh;
  min-height: 400px;
  margin: 30px auto;
  padding: 40px 10px;
  border: 2px solid red;
  text-align: center;
    
}