@import url('https://fonts.googleapis.com/css?family=Amatic+SC&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
  max-width: 80vh;
  min-height: 400px;
  font-family: 'Open Sans', sans-serif;
  margin: 30px auto;
  padding: 40px 10px;
  border-radius: 5px;
  background: #339B33;
  text-align: center;
  
    h1, h2, h3 {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Amatic SC', cursive;
    }
    
    h1 {
        font-size: 55px;
        padding-bottom: 15px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 40px;
        padding-top: 15px;
    }
    
}