.task {
    background: white;
    box-shadow: 0 0 10px #000;
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    
    .task-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        .task-text {
            padding: 0 10px;
            word-break: break-all;
        }
        
        .task-btn-delete, .task-btn-done {
            display: flex;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            
            &.task-btn-delete:hover, &.task-btn-done:hover {
                transform: scale(1.2);
            }
            
            
        }
    }
}